<div class="row shadow p-5">
   
    <div class="col-sm-6 d-flex justify-content-center align-items-center">
        <div class="home-content">
            <h3>Welcome {{userInfo?.first_name}}</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi dolorem nulla, omnis pariatur dolore sequi natus debitis animi reiciendis odio illo aliquam enim labore cupiditate corporis quod velit provident quia?</p>

        </div>
    </div>

    <div class="col-sm-6">
        <div class="text-center">
        <img src="assets/images/welcome.png" alt="" class="w-75">

        </div>
    </div>
</div>